<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="{% static 'js/jquery-3.1.0.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% block head %}
  <title>Skill Backpack</title>
  {% endblock %}
</head>



<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Skillbackpack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item navbar-right">
          <a class="nav-link" href={% url 'user_management:employer_login' %}>Employers</a>
        </li>

      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item ml-auto">
          {% if user.is_authenticated %}
          {% if is_emp %}
          <a class="nav-link " href={% url 'portfolio:employer_portfolio' %}>{{user.first_name}} Portfolio</a>
        <li class="nav-item ml-auto">
          <a class="nav-link " href={% url 'logout' %}>Logout</a>
        </li>
            {% else %}
          <li class="nav-item ml-auto">
            <a class="nav-link ml-auto" href={% url 'portfolio:account_redirect' %}>My Portfolio</a>
          </li>
            {%endif%}
        {% else %}
        <li class="nav-item ml-auto">
            <a class="nav-link ml-auto" href={% url 'login' %}>Login</a>
        </li>

        {%endif%}
        </li>
      </ul>
    </div>
  </nav>
  {%block content%}

  {%endblock%}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <footer class="footer fixed-bottom">
    <div class="container">
      <br />
      <div class="copyright">
        <p style="max-width:200px; margin-right: 10px !important;" class="bottomText"> Wanna Smile&copy; 2018</p>
      </div>
    </div>
  </footer>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


</html>
