
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/navbar_style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />


    <title>User Profile</title>
    {% block css %} {% endblock %}
</head>



    <body>
      <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">
          <div class="sidebar-header">
            <img src="https://www.theouterbankshospital.com/OuterBanksHospital/Images/Vidant_Default_Profile.png" style="margin-left: -10px;" alt="">
            <br>
            <br>
              <h3>{{user.first_name}} {{user.last_name}}</h3>
          </div>
          <ul class="list-unstyled components" style="margin-top:-20px;">
              <li>
              <a href={% url 'portfolio:account_redirect' %}>My Portfolio</a>
              </li>
              <li>
                  <a href={%url 'portfolio:employers_list' %}>Search Employers</a>

              </li>

              <li>
                  <a href={%url 'portfolio:my_applications' %}>My Applications</a>
              </li>
              <li>
                  <a href={% url 'logout' %}>Logout</a>
              </li>
          </ul>

        </nav>
        <!-- Page Content -->
        <div class=""id="content" style="margin-left:10px; margin-right:10px">
            {%block content%}
            {%endblock%}

        </div>
    </div>

</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


</html>
