{% extends "portfolio/employer_portfolio.html" %}

{% block employer_content %}
<div class="container">
  <div class="card">
    <div class="card-header bg-primary text-white">
      Suitable Candidates
    </div>
    <div class="card-body">
      <table id="table_id1" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>

            </tr>
        </thead>
        <tbody>
          {% for can_obj in candidates %}

              <tr>
                <td><a href={%url 'portfolio:candidate_details' pk=can_obj.user.id %}>{{can_obj.user.first_name}} {{can_obj.user.last_name}}</a></td>
                <td>{{can_obj.rating}}</td>

              </tr>

          {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
    $(document).ready( function () {
      $('#table_id1').DataTable({
        "order": [[ 1, "desc" ]]
    });
    } );
    </script>

    </div>
  </div>
<br>
  <div class="card">
    <div class="card-header bg-primary text-white">
      Apllications
    </div>
    <div class="card-body">
      <table id="table_id2" class="display">
        <thead>
            <tr>
                <th>Candidate</th>
                <th>Rating</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          {% for application in applications %}
            <tr>
              <td><a href={%url 'portfolio:candidate_details' pk=application.candidate.id %}>{{application.candidate.first_name}}</a></td>
              <td></td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
    $(document).ready( function () {
      $('#table_id2').DataTable();
    } );
    </script>

    </div>
  </div>


</div>

{% endblock %}
