{% extends "portfolio/employer_portfolio.html" %}

{% block style %}
  <style media="screen">
    .row{
      margin-right: 0;
      margin-left: 0;
    }
  </style>
{% endblock %}

{% block employer_content %}
  <div class="container">
    <h2>{{candidate.first_name}} {{candidate.last_name}}</h2>
    <p>{{candidate.email}}</p>

    <div class="row">
    <div >
        <div class="card" style="width:100%">
          <div class="card-header bg-primary text-white">
            Summary
          </div>
          <div class="card-body">
            {% for sum in summary %}
                <p>{{sum.summary}}</p>
            {% endfor %}

          </div>
        </div>
    </div>
    </div>
    <br>

    <div class="row">
        <div class="card" style="width:100%">
          <div class="card-header bg-primary text-white">
            Education
          </div>
            <div class="card-body">

              {% for education in educations %}
                <ul>
                  <li>Course: {{education.course}}</li>
                    <ul>
                      <li>University: {{education.university}}</li>
                      <li>Description: {{education.description}}</li>
                      <li>GPA: {{education.gpa}}</li>
                      <li>Start Date: {{education.date_start}}</li>
                      <li>Graduation: {{education.date_end}}</li>
                    </ul>

                </ul>
              {% endfor %}
            </div>
          </div>
        </div>

        <br>
        <div class="row" >
          <div class="col-sm-6" style="padding-left:inherit;">
            <div class="card ">
              <div class="card-header bg-primary text-white">
                Experience
              </div>
              <div class="card-body">
                {% for experience in experiences %}
                  <ul>
                    <li>{{experience.role}}</li>
                      <ul>
                        <li><strong>Organization:</strong> {{experience.organization}}</li>
                        <li><p><strong>Role Description</strong><br>
                          {{experience.description}}</p></li>
                        <li><strong>Start Date:</strong> {{experience.date_start}}</li>
                        <li><strong>Date End:</strong> {{experience.date_end}}</li>
                      </ul>
                  </ul>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card" style="width:100%">
              <div class="card-header bg-primary text-white">
                Skills
              </div>
              <div class="card-body">
                {% for skill in skills %}
                  <ul>
                    <li>Skill: {{skill.get_name_display}}</li>
                    <ul>
                      <li>Description: {{skill.description}}</li>
                    </ul>
                  </ul>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <br>
        <div class="card mb-3" >
            <div class="card-header bg-primary text-white">
              Projects
            </div>
            <div class="card-body">
              {% for project in projects %}
                <ul>
                  <li>Project: {{project.name}}</li>
                  <ul>
                    <li>Description: {{project.description}}</li>
                    <li>Start Date: {{project.date_start}}</li>
                    <li>End Date: {{project.date_grad}}</li>
                  </ul>
                </ul>
              {% endfor %}
            </div>
        </div>


    </div>

  </div>
{% endblock %}
