{% extends "profile_base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

{% endblock %}
{% block content %}
{% for message in messages %}

<div class="alert alert-info" style="display:block;margin-left: auto;
  margin-right: auto;
  width: 40%;">
  <a class="close" href="#" data-dismiss="info">×</a>
  {{ message }}

</div>
{% endfor %}
  <div class="card">
    <div class="card-header bg-primary text-white">
      Employers on SkillBackpack
    </div>
    <div class="card-body">
      <table id="table_id1" class="display">
        <thead>
            <tr>
                <th>Company</th>
                <th>Description</th>

            </tr>
        </thead>
        <tbody>
          {% for emp in employers %}
            <tr>
              <td><a class="btn btn-link" href={% url 'portfolio:employer_details' pk=emp.id %}>{{emp.username.first_name}}</a></td>
              <td>{{emp.description}}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
    $(document).ready( function () {
      $('#table_id1').DataTable();
    } );
    </script>

    </div>
  </div>
{% endblock %}
