{% extends "profile_base.html" %}


{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock %}


{% block content %}
{% for message in messages %}

<div class="alert alert-danger" style="display:block;margin-left: auto;
  margin-right: auto;
  width: 40%;">
  <a class="close" href="#" data-dismiss="alert">×</a>
  {{ message }}

</div>
{% endfor %}

  <div class="card ">
    <div class="card-header bg-primary text-white">
      {{employer.username.first_name}}
    </div>
    <div class="card-body">
      {{employer.description}}
    </div>
  </div>
<br>
  <div class="card">
    <div class="card-header bg-primary text-white">
      Jobs at {{employer.username.first_name}}
    </div>
    <div class="card-body">
      <table id="table_id1" class="display">
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Date Posted</th>
                <th>Date Expires</th>
            </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
            <tr>
              <td><button class="btn btn-link" data-toggle="modal" data-target="#{{job.id}}">{{job.job_title}}</button></td>
              <td>{{job.date_posted}}</td>
              <td>{{job.date_expiry}}</td>

            </tr>

            <div class="modal fade" id={{job.id}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{job.job_title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="" action={% url 'portfolio:job_application' pk=job.id %} method="post">
                      {%csrf_token%}
                      <!-- {{jobs_form.as_p}} -->
                      <label for="title">Job Title:</label>
                      <p id="title">{{job.job_title}}</p>
                      <label for="description">Job Description:</label>
                      <p id="description">{{job.job_description}}</p>

                      <label for="description">Skills Required:</label>
                      <ul>

                          {% for x in map|get_item:job.job_title %}
                            <li>{{x}}</li>
                          {% endfor %}




                      </ul>


                      <label for="date_expiry">Expiry Date:</label>

                      <div class='input-group date'>
                        {{job.date_expiry}}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                        <script>
                            var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
                            $('#datepicker').datepicker({
                                uiLibrary: 'bootstrap4',
                                minDate: today
                            });
                        </script>
                      </div><br>


                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <input type="submit" class="btn btn-primary" value="Apply"></input>
                      <input type="hidden" name="submit" value="job">
                    </form>


                </script>
                </script>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
    $(document).ready( function () {
      $('#table_id1').DataTable();
    } );
    </script>
    </div>

  </div>



{% endblock %}
