<!DOCTYPE html>

<html>
  <head>

    <title>{{employer.username.first_name}}</title>
    <!-- Latest compiled and minified CSS -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    {%block style%}
    {%endblock%}

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">{{user.first_name}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href={%url 'index' %}>Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="nav-item ml-auto">
                <a class="nav-link" href={% url 'logout' %}>Logout</a>
            </li>

        </ul>
      </div>
    </nav>
<br>

{% block employer_content %}
<div class="container">
  <div class="card">
    <div class="card-header" style="font-size:30">
      {{user.first_name}}
    </div>

    <div class="card-body" style="margin: 10px; margin-bottom: -5px;">
      <h3>Employer Profile</h3>
      <p>{{employer.description}}<br />

      <br>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Update Description
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update Description</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="" action={% url 'portfolio:employer_portfolio' %} method="post">
                {%csrf_token%}
                {{form.as_p}}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Save Changes"></input>
                <input type="hidden" name="submit" value="description">
              </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<br>


<div class="card">
  <div class="card-header">
    Jobs
  </div>
  <div class="card-body" style="margin:10px 10px 10px;">


  <table id="table_id" class="display">
    <thead>
        <tr>
            <th>Jobs</th>
            <th>Job Description</th>
            <th>Date Posted</th>
            <th>Date of Expiry</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td><a href={% url 'portfolio:job_details' pk=job.id %}>{{job.job_title}}</a></td>
          <td>{{job.job_description}}</td>
          <td>{{job.date_posted}}</td>
          <td>{{job.date_expiry}}</td>
          <td>

          <a href={% url 'portfolio:candidates_list' pk=job.id %}>Find candidates</a>

          </td>
          <td>
            <form action={% url 'portfolio:job_delete' pk=job.id %} method="post">
              {%csrf_token%}
              <input type="submit" name="" value="Delete" class="btn btn-danger" onclick="return confirm('Do you want to delete this job?');">
              <input type="hidden" name="submit" value="delete_job">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
$(document).ready( function () {
  $('#table_id').DataTable();
} );
</script>


<br>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#jobModal">Add Job</button>
    <div class="modal fade " id="jobModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create New Job</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="" action={% url 'portfolio:employer_portfolio' %} method="post">
              {%csrf_token%}
              <!-- {{jobs_form.as_p}} -->
              <label for="title">Job Title:</label>
              <div id="title">{{jobs_form.job_title}}</div><br>
              <label for="description">Job Description:</label>
              <div id="description">{{jobs_form.job_description}}</div><br>
              <label for="date_expiry">Expiry Date:</label>

              <div class='input-group date'>
                {{jobs_form.date_expiry}}
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                <script>
                    var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
                    $('#datepicker').datepicker({
                        uiLibrary: 'bootstrap4',
                        minDate: today
                    });
                </script>
              </div><br>

              <label for="">Skill Required (Select all that applies):</label>
              <select class="form-control" name="skills" size=5 multiple>
                {% for skill in skills %}
                <option value={{skill}}>{{skill}}</option>
                {%endfor%}
              </select>
              <br>

              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Add Job"></input>
              <input type="hidden" name="submit" value="job">
            </form>


        </script>
        </script>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>



</div>

</div>

</div>

{% endblock %}
  </body>
</html>
