{% extends "base.html" %} {% load static %} {% block head %}
<title>Skill Bakcpack</title>
<link rel="stylesheet" href="{% static "css/home.css" %}">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> {% endblock %} {% block content %}

<body>
    <!-- <h1 style="font-family: 'Merriweather', serif;">Welcome to The Skill Backpack</h1> -->
    <!-- Jumbotron-->
    <div class="jumbotron bg-img text-white text-center">
        <h1 class="card-title h1-responsive font-bold mt-3 text-white" style="font-family: 'Merriweather', serif;">We make you stand out</h1>
        <div class="d-flex justify-content-center">
            <p class="pt-5 card-text my-3" style="max-width: 43rem; padding-bottom: 2rem"> We have plenty of jobs waiting for you. Create your portfolio with us and let us find the most suitable job for you!
            </p>
        </div>

       <a href="{% url 'login' %}"><button class="btn btn-lg btn-dark" type="button" name="button">Sign Up</button></a> 

    </div>

    <!-- /Jumbotron -->

</body>
{% endblock %}
