{% extends "profile_base.html" %}
{% block css %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</script>
{% endblock %}
{% block content %}


<div class="card">
  <div class="card-header">
    <strong>Summary</strong>
  </div>
  <div class="card-body">
    {% if summary %}
      {% for sum in summary %}
        <p>{{sum}}</p>
        <form class="" action={% url 'portfolio:delete_summary' pk=sum.pk %} method="post">
          {% csrf_token %}
          <input class="btn btn-primary" type="submit" name="" value="Update Summary">
        </form>
      {% endfor %}

    {% else %}
      <form class="" action={% url 'portfolio:account_redirect' %} method="post">
        {% csrf_token %}
            {{summary_form.summary}}
            <br>
        <input class="btn btn-primary" type="submit" name="" value="Add Summary">
      </form>
    {%endif%}
  </div>
</div>
<br>



<div class="card">
  <div class="card-header">
      <strong>Education</strong>
  </div>
  <div class="card-body">
    <table id="table_education" class="row-border">
      <thead>
          <tr>
              <th>Course</th>
              <th>University</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        {% for education in educations %}
          <tr>
            <td><a class="btn btn-link" href={% url 'portfolio:education_update' pk=education.id %}>{{education.course}}</a></td>
            <td>{{education.university}}</td>
            <td>{{education.date_start}}</td>
            <td>{{education.date_end}}</td>
            <td>
              <form class="" action={% url 'portfolio:delete_education' pk=education.pk %} method="post" style="position: inline;">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i></button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
  <script type="text/javascript">
  $(document).ready( function () {
    $('#table_education').DataTable();
  } );
  </script>
  <a class=" btn btn-sm btn-primary" href={% url 'portfolio:education' %}>Add <i class="fa fa-plus"></i></a>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
      <strong>Skills</strong>
  </div>
  <div class="card-body">
    <table id="table_skill" class="row-border">
      <thead>
          <tr>
              <th>Skill</th>
              <th>Description</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        {% for skill in skills %}
          <tr>
            <td><a class="btn btn-link" href={% url 'portfolio:update_skill' pk=skill.id %}>{{skill.get_name_display}}</a></td>
            <td>{{skill.description}}</td>
            <td>
              <form class="" action={% url 'portfolio:delete_skill' pk=skill.pk %} method="post" style="position: inline;">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i></button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
  <script type="text/javascript">
  $(document).ready( function () {
    $('#table_skill').DataTable();
  } );
  </script>
  <a class=" btn btn-sm btn-primary" href={% url 'portfolio:add_skill' %}>Add <i class="fa fa-plus"></i></a>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
      <strong>Experience</strong>
  </div>
  <div class="card-body">
    <table id="table_experience" class="row-border">
      <thead>
          <tr>
              <th>Role</th>
              <th>Organization</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        {% for experience in experiences %}
          <tr>
            <td><a class="btn btn-link" href={% url 'portfolio:update_experience' pk=experience.id %}>{{experience.role}}</a></td>
            <td>{{experience.organization}}</td>
            <td>{{experience.date_start}}</td>
            <td>{{experience.date_end}}</td>
            <td>
              <form class="" action={% url 'portfolio:delete_experience' pk=experience.pk %} method="post" style="position: inline;">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i></button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
  <script type="text/javascript">
  $(document).ready( function () {
    $('#table_experience').DataTable();
  } );
  </script>
  <a class=" btn btn-sm btn-primary" href={% url 'portfolio:add_experience' %}>Add <i class="fa fa-plus"></i></a>
  </div>
</div>
<br>




<div class="card">
  <div class="card-header">
      <strong>Projects</strong>
  </div>
  <div class="card-body">
    <table id="table_project" class="row-border">
      <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        {% for project in projects %}
          <tr>
            <td><a class="btn btn-link" href={% url 'portfolio:update_project' pk=project.id %}>{{project.name}}</a></td>
            <td>{{project.description}}</td>
            <td>{{project.date_start}}</td>
            <td>{{project.date_grad}}</td>
            <td>
              <form class="" action={% url 'portfolio:delete_project' pk=project.pk %} method="post" style="position: inline;">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i></button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
  <script type="text/javascript">
  $(document).ready( function () {
    $('#table_project').DataTable();
  } );
  </script>
  <a class=" btn btn-sm btn-primary" href={% url 'portfolio:add_projects' %}>Add <i class="fa fa-plus"></i></a>
  </div>
</div>
<br>



{% endblock %}
