{% extends "portfolio/employer_portfolio.html" %}

{% block employer_content %}

<div class="container">

  <div class="card">
    <div class="card-header">
      {{job.job_title}}
    </div>
    <div class="card-body">
      <form class="" action={% url 'portfolio:job_details' pk=job.id %} method="post">
        {% csrf_token %}
        <label for="title">Job Title:</label>
        <div id="title">{{job_form.job_title}}</div><br>
        <label for="description">Job Description:</label>
        <div id="description">{{job_form.job_description}}</div><br>
        <label for="date_expiry">Expiry Date:</label>

        <div class='input-group date'>
          {{job_form.date_expiry}}
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar">
              </span>
          </span>
          <script>
              var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
              $('#datepicker').datepicker({
                  uiLibrary: 'bootstrap4',
                  minDate: today
              });
          </script>
        </div><br>
        <input class="btn btn-primary" type="submit" name="" value="Update Job">
        <button class="btn btn-link" type="button" name="button" style="float: inline; margin-left:80%"><a href={%url 'portfolio:employer_portfolio' %}>Back</a></button>
      </form>
    </div>
  </div>

</div>



{%endblock%}
