{% extends "profile_base.html" %} {% block content %}


{% for err in errors  %}
  <p>{{err}}</p>
{% endfor %}


<form class="pl-5" action={% url 'portfolio:education_update' pk=education.id %} method="post">
  {% csrf_token %}
  <!-- {{form.as_p}} -->
  <div class="form-group row pt-1 pb-2">
    <label for="id_name" class="col-sm-2 col-form-label">University Name:</label>
    <div class="col-sm-9">
      {{form.university}}
    </div>
  </div>
  <div class="form-group row pt-2 pb-2">
    <label for="id_name" class="col-sm-2 col-form-label">Degree Name:</label>
    <div class="col-sm-9">
      {{form.course}}
    </div>
  </div>
  <div class="form-group row pt-2 pb-2">
    <label for="id_name" class="col-sm-2 col-form-label">GPA:</label>
    <div class="col-sm-9">
      {{form.gpa}}
    </div>
  </div>



  <div class="form-group row pt-2 pb-2">
    <label for="id_name" class="col-sm-2 col-form-label">Start Date:</label>

    <div class="col-sm-9">
      {{form.date_start}}
    </div>

    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
  </div>


  <div class="form-group row pt-2 pb-2">
    <label for="id_name" class="col-sm-2 col-form-label">Graduate Date:</label>

    <div class="col-sm-9">
      {{form.date_end}}
    </div>
    <script>
        $('#datepicker2').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
  </div>


  <div class="form-group row pt-2 pb-4">
    <label for="id_description" class="col-sm-2 col-form-label">Description :</label>
    <div class="col-sm-9">
      {{form.description}}
    </div>
  </div>

  <div class="text-center pt-2">
    <input type="submit" name="" class="btn btn-primary" value="Update Education">
    <a href={% url 'portfolio:account_redirect' %} class="btn btn-primary" }>Cancel</a>
  </div>
</form>
{% endblock %}
