{% extends "profile_base.html" %} {% block content %}
<form class="pl-5" action={% url 'portfolio:update_project' pk=project.id %} method="post">
  {% csrf_token %}
  <!-- {{form.as_p}} -->
  <div class="form-group row pt-1 pb-2">
    <label for="id_name" class="col-sm-2 col-form-label">Project Name:</label>
    <div class="col-sm-9">
      {{form.name}}
    </div>
  </div>
  <div class="form-group row pt-2 pb-2">
    <label for="id_name" class="col-sm-2 col-form-label">Description:</label>
    <div class="col-sm-9">
      {{form.description}}
    </div>
  </div>
  <div class="form-group row pt-2 pb-2">
    <label for="id_name" class="col-sm-2 col-form-label">Start Date:</label>
    <div class="col-sm-9">
      {{form.date_start}}
      {% for error in form.date_start.errors %}
      <div class="alert text-danger">
          {{error}}
      </div>
      {% endfor %}
    </div>
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
  </div>

  <div class="form-group row pt-2 pb-2">
    <label for="id_name" class="col-sm-2 col-form-label">End Date:</label>
    <div class="col-sm-9">
      {{form.date_grad}}
      {% for error in form.date_end.errors %}
      <div class="alert text-danger">
          {{error}}
      </div>
      {% endfor %}
    </div>
    <script>
        $('#datepicker2').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
  </div>

  <div class="text-center pt-2">
    <input type="submit" name="" class="btn btn-primary" value="Update Project">
    <a href={% url 'portfolio:account_redirect' %} class="btn btn-primary" }>Cancel</a>
  </div>
  </div>
</form>
{% endblock %}
