{% extends "profile_base.html" %}
{% block content %}
<form class="pl-5" action={% url 'portfolio:update_skill' pk=skill.id %} method="post">
  {% csrf_token %}
  <!-- {{form.as_p}} -->

  <div class="form-group row pt-2 pb-2">
    <label for="id_name"class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-9">
        {{form.name}}
      </div>
  </div>

  <div class="form-group row pt-2 pb-4">
    <label for="id_description" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-9">
        {{form.description}}
      </div>
  </div>

  <div class="text-center">
      <input type="submit" name="" class="btn btn-primary" value="Update Skill">
      <a href={% url 'portfolio:account_redirect' %} class="btn btn-primary" }>Cancel</a>
  </div>


</form>

{% endblock %}
