h1{
  color: white;
  text-align: center;
  margin-top: 20px;
}
.bg-img {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 640px;
  z-index: -10;
}

.bg-overlay
{
  position: relative;
  background-image: rgba(0, 0, 0, 0.041);
  z-index: -5;
}
.btn-dark{
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:hover {
  background-color: rgb(179, 177, 177);
}
