.mainbody {
    background:#f0f0f0;
}

body {
    margin-top:20px;
    background-color: #e8e8e8;
}
 
.page-header{
    text-align: center;    
}
   
/* resume stuff */
   
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}

.bs-callout:last-child {
    margin-bottom: 0px;
}

.bs-callout h4 {
    margin-bottom: 10px;
    margin-top: 0;
}
   
.bs-callout-danger {
    border-left-color: #d9534f;
}
   
.bs-callout-danger h4{
    color: #d9534f;
}

.bs-callout-danger h5{
    color: #ff0800b7;
}