<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Congratulations.</title>
  </head>
  <body>
    <p>Dear {{first_name}}</p>
    <p>Your application for the {{job}} role at {{employer}} is on its way.</p>
    <br>
    <p>Regrads</p>
    <p>SkillsBackpack Team.</p>
  </body>
</html>
