{# {% extends "base.html" %} #}

{% load static %}

{% block head %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--online_fonts-->
<link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
<!--//online_fonts-->
<link href={% static "css/style.css" %} rel='stylesheet' type='text/css' media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--stylesheet-->
</script>
{% endblock %}

{% block content %}

<body background={% static "images/bg.jpg" %}>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{% url 'index' %}">Skill Backpack</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item na">
					{% if user.is_authenticated %}
					<a class="nav-link " href={% url 'portfolio:account_redirect' %}>My Portfolio</a>

					{%endif%}
				</li>
			</ul>
		</div>
	</nav>


	<h1 style="margin-top:-50px">Skill Backpack</h1>
	{% for message in messages %}

	<div class="alert alert-danger" style="display:block;margin-left: auto;
    margin-right: auto;
    width: 40%;">
		<a class="close" href="#" data-dismiss="alert">×</a>
		{{ message }}

	</div>
	{% endfor %}

	<div class="form-w3ls">
		<div class="form-head-w3l">
			<h2>s</h2>
		</div>
		<ul class="tab-group cl-effect-4">
			<li class="tab active"><a href="#signin-agile">Sign In</a></li>
			<li class="tab"><a href="#signup-agile">Sign Up</a></li>
		</ul>
		<div class="tab-content">
			<div id="signin-agile">


				<form action="{% url 'login' %}" method="post">
					{% csrf_token %}
					<p class="header">User Name</p>
					<div class="" name="user" placeholder="User Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Name';}"
					 required="required">
						{{ form_login.username }}
					</div>

					<!-- <input type="text" name="user" placeholder="User Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Name';}" required="required"> -->

					<p class="header">Password</p>
					{{form_login.password}}
					<!-- <input type="password" name="password" placeholder="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="required"> -->

					<input type="checkbox" id="brand" value="">
					<label for="brand"><span></span> Remember me?</label>
					<input type="submit" class="sign-in" value="Sign In">
					<input type="hidden" name="submit" value="sign_in" />
				</form>


			</div>
			<div id="signup-agile">
				<form action="{% url 'login' %}" method="post">
					{% csrf_token %}

					<p class="header">First Name</p>
					<div type="text" name="f_name" placeholder="first name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your First Name';}"
					 required="required">
						{{ form_signup.first_name }}
					</div>

					<p class="header">Last Name</p>
					<div type="text" name="user" placeholder="last_name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Full Name';}"
					 required="required">
						{{ form_signup.last_name }}
					</div>

					<p class="header">Username</p>
					<div type="text" name="user" placeholder="username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Full Name';}"
					 required="required">
						{{ form_signup.username }}
					</div>

					<p class="header">Email Address</p>
					<div type="email" name="email" placeholder="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"
					 required="required">
						{{ form_signup.email }}
					</div>
					<p class="header">Password</p>
					<div type="password" name="password" placeholder="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"
					 required="required">
						{{ form_signup.password1 }}
					</div>
					<p class="header">Confirm Password</p>
					<div type="password" name="password" placeholder="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}"
					 required="required">
						{{form_signup.password2}}
					</div>
					<input type="submit" class="register" value="sign_up">
					<input type="hidden" name="submit" value="sign_up" />
				</form>
			</div>
		</div><!-- tab-content -->
	</div> <!-- /form -->
	<!-- js files -->


	<!-- /js files -->
	<script src="{% static 'js/jquery.min.js'%}"></script>
	<script src={% static "js/index.js" %}></script>
	{% endblock %}
</body>

</html>
